@media (min-width: 992px) {
  /* Louis */
  .menu-btn {
    display: none;
  }

  .btn-nav {
    display: none;
  }

  .dropdown {
    display: flex;
  }

  .dropdown li, .dropdown li:nth-last-child(-n+2) {
    width: 15%;
  }

  .dropdown li:last-child {
    display: none;
  }

  .dropdown a{
    text-align: center;
  }

  h1 {
    font-size: 10em;
  }

  #recherche {
    height: 80%;
  }
  /* Nicolas */
.laissezcom {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid;
  padding-bottom: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
  }

.pseudologocom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-right: 2%;
  }

  /* Paul */

  .margin_articles_accueil{
    padding-left: 14%;
    padding-right: 14%;
  }

  /* Adiren */

}
