@media (min-width: 992px) {

  h4 {
    font-size: 1.3rem;
  }

  /* Louis */
  .menu-btn {
    display: none;
  }

  .btn-nav {
    display: none;
  }

  .dropdown {
    display: flex !important;
  }

  .dropdown li, .dropdown li:nth-last-child(-n+2) {
    width: 15%;
  }

  .dropdown a{
    text-align: center;
  }

  h1 {
    font-size: 10em;
  }

  #recherche {
    top: 10%;
    height: 80%;
  }
  /* Nicolas */
  .laissezcom, .laissezcomcache {
    flex-direction: row;
    padding-bottom: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  .pseudologocom {
    width: 100%;
    margin-right: 2%;
  }

  .pseudologocomexistant {
    width: 100%;
  }

  .comutilisateur {
    width: 75%;
  }

  .secarticle {
    margin-left: 25%;
    margin-right: 25%;
  }

  .photogroupe, .descriptgroupe, .formulaire {
    width: 50%;
  }

  hr {
    width: 45%;
  }

  .pseudoavatar {
    width: 25%;
  }

  /* Paul */
  .margin_articles_accueil {
      padding-left: 7%;
      padding-right: 7%;
      margin-top: 3%;
  }

  /* Footer*/
  footer {
    flex-direction: row;
  }

  .footer2 {
    order: -2;
  }

  .footer3 {
    margin-bottom: inherit;
  }

  footer div:nth-child(2) {
    order: -1;
  }

  .verticalLine {
    display: block;
    width: 1px;
    border: 1px solid #C5C5C8;
    border-radius: 8px;
    height: 125px;
  }

}

/*Paul*/
@media (min-width: 1250px) {
  .margin_articles_accueil {
    padding-left: 14%;
    padding-right: 14%;
    margin-top: 4%;
}
}
