@media (min-width: 576px) {

  /* Louis */
  /* Nicolas */
  .textareacom {
    width: 80%;
    padding-top: 10px;
    padding-left: 10px;
  }

  .comutilisateur {
    width: 80%;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 1px;
    border: 1px solid;
  }

  /* Paul */
  .margin_articles_accueil {
    margin: 10%;
  }

  /* Adiren */
}
