@media (min-width: 992px) {
  /* Louis */
  .menu-btn {
    display: none;
  }

  .btn-nav {
    display: none;
  }

  .dropdown {
    display: flex;
  }

  .dropdown li, .dropdown li:nth-last-child(-n+2) {
    width: 15%;
  }

  .dropdown li:last-child {
    display: none;
  }

  .dropdown a{
    text-align: center;
  }

  h1 {
    font-size: 10em;
  }

  #recherche {
    height: 80%;
  }
  /* Nicolas */
  .laissezcom {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid;
    padding-bottom: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  .pseudologocom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-right: 2%;
  }

  .pseudologocomexistant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .comutilisateur {
    width: 87%;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 1px;
    border: 1px solid;
  }

  /* Paul */

  .margin_articles_accueil {
      padding-left: 7%;
      padding-right: 7%;
  }


  /* Footer*/
  .footerMain {
    flex-direction: row;
  }

  .footer2 {
    order: -2;
  }

  .footer3 {
    margin-bottom: inherit;
  }

  .footerMain div:nth-child(2) {
    order: -1;
  }

  .verticalLine {
    display: block;
    width: 1px;
    border: 1px solid #FFF;
    border-radius: 8px;
    height: 125px;
  }

}
