@media (min-width: 768px) {

  /* Louis */
  @media (max-width: 991px) {
    #navhead {
      height: 100px;
    }

    .menu-btn {
      margin-top: 50px;
      margin-left: 55px;
    }

    #loupe {
      top: 25px;
    }

    #recherche {
      width: 250px;
      right: 20px;
      top: 20px;
      height: 50px;
    }

    .btn-nav {
      height: 100px;
    }

    .targsearch {
      height: 100px;
      width: 100px;
    }
  }

  .dropdown a {
    font-size: 1.5em;
  }

  h1 {
    font-size: 7em;
  }

  /* Nicolas */
  /* Paul */
  .margin_articles_accueil {
    margin: 5%;
  }

  .image_texte_accueil{
    display: flex;
    flex-direction: row;
    margin:0;
  }

  .image_texte_accueil img {
    max-width: 50%;
    margin: 0;
  }

  .balise_a_image{
    width: 50%;
    margin-right: 4%;
  }
  .contenu_articles{
    max-width: 50%;
    justify-content: space-around;
    padding: 0;
  }

  .image_texte_accueil p {
    margin-bottom: 0%;
  }

  .button_lirelasuite {
    margin-bottom: 0%;
  }

  /* Adiren */
}
